@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600;900&family=VT323&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Source Code Pro', monospace;
    --ff-secondary: 'VT323', monospace;

    --fw-reg: 600;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #191919;
    --clr-accent: #00ff33;
    --clr-disabled: #555;

    --fs-h1: 2rem;
    --fs-h4: 1.5rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

body {
  background: var(--clr-dark);
  font-family: var(--ff-secondary);
}

/* Typography */

h1,
h4 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h4 { font-size: var(--fs-h4) }

@media (min-width: 600px) {
  :root {
    --fs-h1: 2.5rem;
    --fs-h4: 1.75rem;
    --fs-body: 1.5rem;
  }
}

@media (min-width: 768px) {
  :root {
    --fs-h1: 3rem;
    --fs-h4: 2rem;
    --fs-body: 1.75rem;
  }
}
